.submitQuotes {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.areaForAuthor {
    display: block;
    width: 300px;
    margin: 10px auto;
}

.areaForQuote {
    resize: none;
    width: 300px;
    height: 80px;
}

.saveBtn {
    display: block;
    margin: 15px auto 10px;
}