.quotesBlock {
    width: 800px;
    margin: 0 auto;
    display: flex;
    padding: 10px 5px;
}

.list ul {
    margin: 0;
    padding-left: 20px;
}

.list li {
    margin: 5px 0;
}

.list {
    width: 30%;
}

.quotes {
    width: 70%;
}

.quote {
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0;
}

.quoteTxt {
    font-family: cursive;
}

.author {
    font-weight: bold;
}

.delete {
    display: block;
    margin-left: auto;
}